@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;

}

h4 {
    font-size: 20px;


}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {

    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    button {
        padding: 0.25em 0.75em;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eae2b7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px 80px;
    height: 24vh;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;

}

#header a img {
    width: 100%;

}


#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li {
    list-style: none;
    padding: 0 15px;
}

#nav li a {
    color: #003049;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s ease;
}

#nav li a:hover {
    color: #005f73;
    font-size: 21px;
}

#nav li a:hover,
#nav li a.active {
    color: #005f73;
    font-size: 21px;
}

#hero {
    background-image: url("img/background.jpg");
    background-position: top 35% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    color: #eae2b7;

}

#hero h4 {
    padding-bottom: 10px;

}

#hero h1 {
    color: #d62828;
}


#sell-trade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 200px;

}

#sell-trade .st-box {
    height: 300px;
    max-height: 300px;
    width: 200px;
    min-width: 172px;
    text-align: center;
    padding: 25px 15px;
    margin: 15px 0;
    border: 2px solid #eae2b7;
    border-radius: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    background-color: #EE443C;

}


#sell-trade .st-box img {
    width: 100%;
}

#sell-trade .st-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #FEB52D;
    background-color: #1B2C36;
    border-radius: 4px;
    margin-top: 10px;
}

#sell-trade .st-box:nth-child(2) h6 {
    margin-top: 50px;
}

#sell-trade .st-box:nth-child(4) h6 {
    margin-top: 35px;
}

.icon-svgs {
    filter: invert(85%) sepia(25%) saturate(3676%) hue-rotate(335deg) brightness(103%) contrast(99%);
}

#deals {
    text-align: center;
}

#deals .deals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#deals .deal {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 0;
    border: 2px solid #eae2b7;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;
}

#deals .deal:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

#deals .deal img {
    width: 100%;
    border-radius: 20px;
}

#deals .deal .description {
    text-align: start;
    padding: 10px 0;
}

#deals .deal .description span {
    color: #EE443C;
}


#deals .deal .description h5 {
    padding-top: 7px;
    color: #003049;
    font-size: 14px;
}

#deals .deal .description i {
    font-size: 12px;
    color: #FEB52D;
}

#deals .deal .description h4 {
    padding-top: 6px;
    font-size: 16px;
    color: #003049;

}

#deals .deal .cart-icon {
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #EE443C;
    border: 1px solid #FEB52D;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/bannerbg.jpg);
    background-position: center;
    background-size: cover;
}

#banner-text {
    -webkit-text-stroke: 1px #000;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
}

#banner button {
    margin-top: 14px;
}